:root{
            --dark-background-color: #1F1E42;
            --dark-text-color: #F3DDC3;
            --dark-accent-active-color: #7187FF;
            --dark-accent-mute-color: #49445C;
            --light-background-color: #F3DDC3;
            --light-text-color: #1F1E42;
            --light-accent-active-color: #7187FF;
            --light-accent-mute-color: #C9B7A9;
            --fontFamily: monospace
        }