:root {
}

body,
html {
  overflow-x: hidden;
}

#__docusaurus {
  overflow-x: clip;
}

// TODO: breadcrumbs: false in docusaurus.config.js does not work
.theme-doc-breadcrumbs {
  display: none;
}

.community-container article {
  max-width: 796px;
  margin: 16px auto 0 auto;
}

div:has(.community-container) > .container {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

// Temporary CSS for events

.mdx-event-card__info {
  & > span:first-of-type {
    opacity: 0.6;
  }
}

.mdx-event-info__label {
  opacity: 0.6;
}

.mdx-event-info__content {
  white-space: pre-wrap;
}

.breadcrumbs__link,
.breadcrumbs__item {
  text-decoration: none;
}

.breadcrumbs__item--active {
  border: none !important;

  & > span {
    padding: unset !important;
  }
}

.mdx-event-cta-section__form {
  .lsd-typography--body2 {
    margin-left: 16px;
  }
}

.mdx-section-header__extra {
  display: flex;
  align-items: center;
}

.build-on-waku-button {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.mdx-hero > .mdx-hero-asset video {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -40%;
}

.navbar-lsd-button {
  height: 28px !important;
}

@media screen and (max-width: 1200px) {
  .navbar-lsd-button {
    margin-right: 16px;
  }
}

.navbar-lsd-button > div > div {
  display: none;
}

@media screen and (min-width: 996px) {
  .mdx-hero > .mdx-hero-asset video {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -280px;
    margin-top: -55%;
    scale: 0.95;
  }
}

@media screen and (max-width: 996px) {
  .mdx-hero > .mdx-hero-asset video {
    margin-right: -200px;
    margin-left: 0;
    scale: 0.9;
    margin-top: -36%;
  }

  .mdx-hero {
    margin-bottom: 200px;
  }

  .navbar-lsd-button {
    height: 32px !important;
    padding: 6px 24px !important;
  }
}

@media screen and (max-width: 930px) {
  .mdx-hero {
    margin-bottom: 280px;
  }

  .mdx-hero > .mdx-hero-asset video {
    margin-right: unset;
    margin-left: unset;
    margin: 0 auto;
    width: -webkit-fill-available;
    margin-top: -10%;
  }
}

@media screen and (max-width: 768px) {
  .mdx-hero {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .mdx-hero {
    margin-bottom: -20px;
  }

  .mdx-hero > .mdx-hero-asset video {
    margin-top: -5%;
  }
}
